.cart {
	color: black;
	width: 60%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;

	h1 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 1.5rem;
	}

	.cart-top {
		margin: 0 auto;
	}

	.cart-bottom {
		width: 80%;
		margin: 0 auto;

		p {
			color: gray;
			font-weight: lighter;
		}
	}

	.cart-details {
		width: 80%;
		margin: 0 auto;

		h3 {
			font-weight: lighter;
		}
	}

	.cart-items {
		max-height: 300px;
		overflow: scroll;
	}

	.cart-item {
		padding: 2%;
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;

		div {
			width: 25%;
		}

		p {
			font-size: 0.8rem;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		align-items: center;
		width: 100%;
		margin-bottom: 5%;

		img {
			height: 100%;
			border-radius: 25px;
		}

		.remove {
			color: red;
			font-size: 1.1rem;
			transition: 0.3s;
		}

		.remove:hover {
			opacity: 0.5;
			cursor: pointer;
		}
	}
}
