.home-root {
	width: 50%;

	margin: 0 auto;
	color: white;
	margin-top: 2%;
	display: flex;
	justify-content: space-evenly;

	.home-left {
		padding: 2%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 100%;

		img {
			margin: 0 auto;
		}

		h1 {
			color: #bc67ff;
			line-height: 50px;
		}

		p {
			line-height: 50px;
			font-size: 1.2rem;
		}

		button {
			margin-top: 30px;
			width: 100%;
			font-family: 'Roboto', sans-serif;
			text-transform: uppercase;
			letter-spacing: 5px;
			height: 50px;
			background: none;
			outline: none;
			border: 1px solid #bd67ff;
			color: white;
			border-radius: 30px;
			transition: ease-in-out 0.3s;
		}

		button:hover {
			cursor: pointer;

			background: #bd67ff;
		}
	}
}

@media (max-width: 1050px) {
	.home-root {
		width: 90%;
	}
}

@media (max-width: 800px) {
	.home-left {
		margin-top: 10%;

		img {
			width: 30% !important;
		}

		h1 {
			font-size: 1.3rem;
		}

		p {
			font-size: 1rem !important;
		}

		button {
			width: 80% !important;
			font-size: 0.9rem;
		}
	}
}
