@import './reset.scss';
@import './Home.scss';
@import './Shop.scss';
@import './MiceShop.scss';
@import './Onboarding.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body,
#root {
	height: 100%;
}

$root-font: 'Roboto', sans-serif;

$purple-dark: #3623a6;
$purple-light: #8b1ba5;
$dark-bg: #212121;

* {
	box-sizing: border-box;
}

body {
	font-family: $root-font;
	font-size: 100%;
	font-weight: 400;
	color: white;
	background: white;
}

.navbar-root {
	margin: 0 auto;
	max-width: 75%;
	height: 120px;
	background: none !important;

	.navbar {
		width: 100%;
		background: none !important;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.nav-icon {
			font-size: 1.8rem;
		}

		.exit-icon {
			transition: 0.3s;
			opacity: 0.8;
		}

		.exit-icon:hover {
			color: red !important;
		}

		.nav-left {
			display: flex;
			align-items: center;
		}

		.logo {
			width: 100px;
		}

		.nav-right {
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			a {
				font-size: 0.9rem;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-weight: 700;
				text-decoration: none;
				margin-right: 10%;
				transition: 0.3s;
			}

			a:hover {
				cursor: pointer;
				color: #bb67ff !important;
			}
		}

		h4 {
			margin-left: 20px;
			font-size: 1.4rem;
			font-weight: 500;
			color: #bb67ff;
			letter-spacing: 8px;
		}
	}
}

.dropdown-link {
	width: 100% !important;
	font-size: 0.9rem !important;
	text-transform: none !important;
	letter-spacing: normal !important;
}

.bg-class {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
