.mice-shop {
	margin: 0 auto;
	width: 75%;
	height: 100%;
	color: black;

	display: flex;
	align-items: center;
	flex-direction: column;

	.mouse-shop-top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-transform: uppercase;
		margin-top: 5%;
		margin-bottom: 10%;

		h1 {
			font-size: 2rem;
			letter-spacing: 15px;
		}

		hr {
			width: 50%;
		}
	}
}
